<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDisplay</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change PEGP to GFX0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					UEVHUA==
					</data>
					<key>Replace</key>
					<data>
					R0ZYMA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change AZAL to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					QVpBTA==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change MEI to IMEI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to ZDSM</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WkRTTQ==
					</data>
				</dict>
			</array>
			<key>Rtc8Allowed</key>
			<true/>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DoubleFirstState</key>
			<false/>
			<key>EnableC2</key>
			<false/>
			<key>EnableC4</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<false/>
				<key>APSN</key>
				<false/>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>UseSystemIO</key>
			<false/>
		</dict>
		<key>smartUPS</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x3000 kext-dev-mode=1 dart=0 debug=0x100 -no_compat_check rootless=0 keepsyms=1 npci=0x2000 -cdfon enable-hdmi20 -igfxnohdmi -liluforce</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>disknameismi</string>
		<key>HibernationFixup</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>RtcHibernateAware</key>
		<true/>
		<key>SignatureFixup</key>
		<true/>
		<key>SkipHibernateTimeout</key>
		<true/>
		<key>StrictHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>Inject</key>
			<integer>1</integer>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>HDMIInjection</key>
		<true/>
		<key>LANInjection</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<true/>
			<key>Inject</key>
			<true/>
			<key>NameEH00</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>NO NAME</string>
			<string>Recovery</string>
			<string>Recovery HD</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>FBName</key>
		<string>Radeon</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>NvidiaGeneric</key>
		<true/>
		<key>NvidiaSingle</key>
		<true/>
		<key>RadeonDeInit</key>
		<true/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelCpu</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2,10.14.3</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AIoChMB0
				</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>
				AIoChMDr
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - commpage_populate -remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uaABAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				Dx+AAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Ar2//+c
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Kn1//+c
				</data>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2,10.14.3</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Jn1//+c
				</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9ygWNAAB0GEiNPZKSXwAx
				9jHAQYnIRInyidno6IlYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9xwWNAAB0G0iNPY+S
				XwC+HQAAgDHAQYnIRInyidno4olYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9yu2MAAB0GEiNPQ+GXwAx
				9jHAQYnIRInyidno2HpYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9x+2MAAB0G0iNPQyG
				XwC+HQAAgDHAQYnIRInyidno0npYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9yv2MAAB0GEiNPd+JXwAx
				9jHAQYnIRInyidnoqH5YAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9x/2MAAB0G0iNPdyJ
				XwC+HQAAgDHAQYnIRInyidnoon5YAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM92gaNAAB0GEiNPRmWXwAx
				9jHAQYnIRInyidnouIpYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM91waNAAB0G0iNPRaW
				XwC+HQAAgDHAQYnIRInyidnosopYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9+kGYAAB0GEiNPSvZZwAx
				9jHAQYnIRInyidno2CxgAEGD/gQPgvsBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM990GYAAB0G0iNPSjZ
				ZwC+HQAAgDHAQYnIRInyidno0ixgAEGD/gQPgvUBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9SiSYAAB0GEiNPQvGZwAx
				9jHAQYnIRInyidnoWBpgAEGD/gQPgvsBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9RySYAAB0G0iNPQjG
				ZwC+HQAAgDHAQYnIRInyidnoUhpgAEGD/gQPgvUBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM9re2XAAB0G0GJ0UiNPRehZwAx
				9jHAQYnIRInyidnoWP1fAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9p+2XAAB0G0iNPRSh
				ZwC+HQAAgDHAQYnIRInyidnoUv1fAEGD/gQPgvUBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM9JWKYAAB0G0GJ0UiNPRy0ZwAx
				9jHAQYnIRInyidnoiBBgAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9H2KYAAB0G0iNPRm0
				ZwC+HQAAgDHAQYnIRInyidnoghBgAEGD/gQPgvUBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM93W+YAAB0G0GJ0UiNPRnAZwAx
				9jHAQYnIRInyidnoGBhgAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM912+YAAB0G0iNPRbA
				ZwC+HQAAgDHAQYnIRInyidnoEhhgAEGD/gQPgvIBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uAQAAABEifFEiQ==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				uB0AAIBEifFEiQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - don't set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				wega/8A=
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				Dx8A6wY=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - remove wrmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAxwDHSDzA=
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set microcode=186</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				uroAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set flag=1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uRcAAAAPMsHqEoDiBw==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				sgFmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - disable check to allow leaf7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ADoPgg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				AAAPgg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - GenuineIntel to AuthenticAMD </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				R2VudWluZUludGVsAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				QXV0aGVudGljQU1EAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbgLjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbjzjAAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbgDjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPagMjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPehHmAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPTgqmAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPZjzlwAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPchomAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_SKYLAKE </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPUh5mAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				u58h/DfpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dTaLBcgKjQCJBYoLjQCLDcAKjQDr
				Frk1AAAADzIPt8jB6BCD4A+JBWwLjQCJDWoLjQCFwHVK
				6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHo
				EIkFOguNAIkVOAuNAIXAdRiLBWIKjQCJBSQLjQCLBVoK
				jQCJBRwLjQA=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97wuNAAB0G2YP
				H4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4
				HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex
				0kSJ8PfxiQVtCo0ARIk1agqNAIM9JwuNAAB1DYkFHwuN
				AESJNRwLjQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dTaLBcjyjACJBYrzjACLDcDyjADr
				Frk1AAAADzIPt8jB6BCD4A+JBWzzjACJDWrzjACFwHVK
				6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHo
				EIkFOvOMAIkVOPOMAIXAdRiLBWLyjACJBSTzjACLBVry
				jACJBRzzjAA=
				</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97/OMAAB0G2YP
				H4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4
				HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex
				0kSJ8PfxiQVt8owARIk1avKMAIM9J/OMAAB1DYkFH/OM
				AESJNRzzjAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dTaLBcgCjQCJBYoDjQCLDcACjQDr
				Frk1AAAADzIPt8jB6BCD4A+JBWwDjQCJDWoDjQCFwHVK
				6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHo
				EIkFOgONAIkVOAONAIXAdRiLBWICjQCJBSQDjQCLBVoC
				jQCJBRwDjQA=
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0YM97wONAAB0G2YP
				H4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4
				HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex
				0kSJ8PfxiQVtAo0ARIk1agKNAIM9JwONAAB1DYkFHwON
				AESJNRwDjQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dTaLBbgLjQCJBXoMjQCLDbALjQDr
				Frk1AAAADzIPt8jB6BCD4A+JBVwMjQCJDVoMjQCFwHVK
				6zC5NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt9GJyMHo
				EIkFKgyNAIkVKAyNAIXAdRiLBVILjQCJBRQMjQCLBUoL
				jQCJBQwMjQA=
				</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0WYPH4QAAAAAAGYP
				H4QAAAAAAGYPH4QAAAAAAGYPH4QAAAAAAEUPtvZB/8a4
				HgAAgDHbMckx0g+iQYnAQYnRZg8fhAAAAAAAD7bP/8Ex
				0kSJ8PfxiQVdC40ARIk1WguNAIM9FwyNAAB1DYkFDwyN
				AESJNQwMjQA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dSaLBfhGmACJBbpHmACLDfBGmADr
				OLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFI
				CdG6AQABAA9F0A+3yonQwegQiQV6R5gAiQ14R5gAhcB0
				Gg==
				</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAA
				gDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJ
				BcVGmABEiTXCRpgAgz1/R5gAAHUNiQV3R5gARIk1dEeY
				AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dSaLBUgpmACJBQoqmACLDUApmADr
				OLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFI
				CdG6AQABAA9F0A+3yonQwegQiQXKKZgAiQ3IKZgAhcB0
				Gg==
				</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAA
				gDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJ
				BRUpmABEiTUSKZgAgz3PKZgAAHUNiQXHKZgARIk1xCmY
				AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dSaLBafylwCJBWnzlwCLDZ/ylwDr
				OLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFI
				CdG6AQABAA9F0A+3yonQwegQiQUp85cAiQ0n85cAhcB0
				Gg==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAA
				gDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJ
				BXTylwBEiTVx8pcAgz0u85cAAHUNiQUm85cARIk1I/OX
				AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dSaLBddnmACJBZlomACLDc9nmADr
				OLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFI
				CdG6AQABAA9F0A+3yonQwegQiQVZaJgAiQ1XaJgAhcB0
				Gg==
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAA
				gDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJ
				BaRnmABEiTWhZ5gAgz1eaJgAAHUNiQVWaJgARIk1U2iY
				AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - ryzen cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PexeO1d0Gz28T+p4dSaLBVd4mACJBRl5mACLDU94mADr
				OLk1AAAADzIPt8jB6BCD4A/rILk1AAAADzJIweIgicFI
				CdG6AQABAA9F0A+3yonQwegQiQXZeJgAiQ3XeJgAhcB0
				Gg==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJwEGJzkGJ0UUPtvZB/8a4HgAA
				gDHbMckx0g+iQYnAQYnRDx9EAAAPts//wTHSRInw9/GJ
				BSR4mABEiTUheJgAgz3eeJgAAHUNiQXWeJgARIk103iY
				AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 3 x i386_init - remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZkBAAAPMkjB4iCJxkgJ1rmYAQAADzJIweIgicBICcK/
				WAIxBTHJRTHA
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAA
				AAAAZg8fRAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug0AEAAIuY1AEAAEiNPeuNXgDo2gMAAEiFwLkANm4B
				SA9FyEiJyEkPr8RFMf8x0kj380iJBQCrhQBIiQUhq4UA
				SLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPaeN
				XgAxwInWicpMieFJidjobTNXAEiLHeaqhQA=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkFCquFADHSSPf2SInDSIkdI6uFAEiJ
				NQyrhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug0AEAAIuY1AEAAEiNPceBXgDo2gMAAEiFwLkANm4B
				SA9FyEiJyEkPr8RFMf8x0kj380iJBQCThQBIiQUhk4UA
				SLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPYOB
				XgAxwInWicpMieFJidjoXSRXAEiLHeaShQA=
				</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkFCpOFADHSSPf2SInDSIkdI5OFAEiJ
				NQyThQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug0AEAAIuY1AEAAEiNPZeFXgDo2gMAAEiFwLkANm4B
				SA9FyEiJyEkPr8RFMf8x0kj380iJBQCjhQBIiQUho4UA
				SLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPVOF
				XgAxwInWicpMieFJidjoLShXAEiLHeaihQA=
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkFCqOFADHSSPf2SInDSIkdI6OFAEiJ
				NQyjhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug2AEAAIuY3AEAAEiNPd+QXgDo2gMAAEiFwLkANm4B
				SA9FyEiJyEkPr8RFMf8x0kj380iJBWiqhQBIiQWJqoUA
				SLrbNLbXgt4bQ0iJyEj34kjB6hJpwkBCDwApwUiNPZuQ
				XgAxwInWicpMieFJidjorTJXAEiLHU6qhQA=
				</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkFcqqFADHSSPf2SInDSIkdi6qFAEiJ
				NXSqhQBmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug0AEAAIuY1AEAAEiNPWqsZgDo8AMAAEiFwLkANm4B
				SA9FyEiJyEkPr8Qx0kj380iJBenFkABIiQUKxpAASLrb
				NLbXgt4bQ0iJyEj34kUx/0jB6hJpwkBCDwApwUiNPSas
				ZgAxwInWicpMieFJidjoQ6teAEiLHczFkAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkF8MWQADHSSPf2SInDSIkdCcaQAEiJ
				NfLFkABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIug0AEAAIuY1AEAAEiNPTqZZgDo8AMAAEiFwLkANm4B
				SA9FyEiJyEkPr8Qx0kj380iJBSmokABIiQVKqJAASLrb
				NLbXgt4bQ0iJyEj34kUx/0jB6hJpwkBCDwApwUiNPfaY
				ZgAxwInWicpMieFJidjos5heAEiLHQyokAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/RTH/MdJIichI9/ZIicZI
				acYAwusLSAH2SIkFMKiQADHSSPf2SInDSIkdSaiQAEiJ
				NTKokABmDx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAABm
				Dx+EAAAAAABmDx+EAAAAAABmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SInISQ+vx0Ux7THSSff0SInGSIkFA2eQAEi62zS214Le
				G0NIichI9+JIiTUUZ5AASMHqEmnCQEIPACnBSI09QWpm
				ADHAidaJykyJ+U2J4OjgcF4ASIsd6WaQAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4A
				wusLSAH2SIk97maQADHSSIn4SPf2SInDSIkdBGeQAEiJ
				Ne1mkABmDx+EAAAAAABmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SInISQ+vx0Ux7THSSff0SInGSIkFm9CQAEi62zS214Le
				G0NIichI9+JIiTWs0JAASMHqEmnCQEIPACnBSI09onVm
				ADHAidaJykyJ+U2J4OjQd14ASIsdgdCQAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4A
				wusLSAH2SIk9htCQADHSSIn4SPf2SInDSIkdnNCQAEiJ
				NYXQkABmDx+EAAAAAABmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - replace skylake with zen</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SInISQ+vx0Ux7THSSff0SInGSIkF1N6QAEi62zS214Le
				G0NIichI9+JIiTXl3pAASMHqEmnCQEIPACnBSI09pYFm
				ADHAidaJykyJ+U2J4OjpfV4ASIsdut6QAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uWQAAcAPMg+2yInGwe4Ig+Y/MdJIichI9/ZIicZIaf4A
				wusLSAH2SIk9v96QADHSSIn4SPf2SInDSIkd1d6QAEiJ
				Nb7ekABmDx+EAAAAAABmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIu70AEAAESLo9QBAAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				SInY6UACAABmDx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIu72AEAAESLo9wBAAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				SInY6UACAABmDx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace skylake with zen part 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RIu72AEAAESLo9wBAAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				SInY6YcCAABmDx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFlGWQAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				TIkllGWQAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFLM+QAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				TIklXc+QAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - use TSC calculated from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFZd2QAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				TIkllt2QAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_init - remove version check and panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				JfwAAACD+BM=
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				JfAAAADrI5A=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UlnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UfnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G5019</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UjnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz3UlXAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G7024</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UmHsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz3UensAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.3</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz3VWHsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz0VwXsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz31zXsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 2 x mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//8P+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.1,10.14.3</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - 2 x mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//AP+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4,10.14.5,10.14.6</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily IONameMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ibPoAgAAweAMBQAQAACJgw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				ibPoAgAAweAJBQAQAACJgw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				D7aMiIIAAACD+QwPhTIBAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				D7aMiIIAAACD+QkPhTIBAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AMeDpAAAAAAQAABIi0gISA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AMeDpAAAAAACAABIi0gISA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYnGTYX2dGFBwecMSWP/vg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYnGTYX2dGFBwecJSWP/vg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				hv8PAABIwegMD7cPgeH/Dw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				hv8PAABIwegJD7cPgeH/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icGB4f8PAABIAdFIgfn/DwAAdzs=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				icGB4f8BAABIAdFIgfn/AQAAdzs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SYHF/w8AAEnB7QxJiwQkSA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				SYHF/w8AAEnB7QlJiwQkSA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAAQAABJKfQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIB
				AABBvAACAABJKfQ=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AABJiY4iAQAAugAQAABIKQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				AABJiY4iAQAAugACAABIKQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				yAAAAEkp17gAEAAATYskJA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				yAAAAEkp17gAAgAATYskJA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				4b+AQBUGTYnWugAQAABFMQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				4b+AQBUGTYnWugACAABFMQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iWTY+EmBxAAQAABJgccA8A==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				iWTY+EmBxAACAABJgccA8A==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Bf8PAABIwegMZvfB/w8PlQ==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				Bf8PAABIwegJZvfB/w8PlQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weIIQQ+2wcHgDEQJ0EQJwA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				weIIQQ+2wcHgCUQJ0EQJwA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				RYTJD5XAD7bAweAMRAnYRA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>
				RYTJD5XAD7bAweAJRAnYRA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Black Screen Patch Vega 56/64, RX580 etc. (c)Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Ym9hcmQtaWQ=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleGraphicsDevicePolicy</string>
				<key>Replace</key>
				<data>
				Ym9hcmQtaXg=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>F5K447404GUFHDDFB</string>
		<key>ROM</key>
		<data>
		sETxkWZ2
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>05/25/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.F000.B00.1905251553</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>F5K447404GUFHDDFB</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x02</string>
		<key>EfiVersion</key>
		<string>131.0.0.0.0</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x04</string>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>SerialNumber</key>
		<string>F5KNQJYMF9VM</string>
		<key>SmUUID</key>
		<string>D8A4F8B9-B22B-4983-A8B4-B62ED0916676</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>F693C20C-C6A6-4C1B-BFB1-95F2CA611E0E</string>
		<key>ExposeSysVariables</key>
		<true/>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
		<key>NvidiaWeb</key>
		<true/>
	</dict>
</dict>
</plist>
